[submodule "smaclite"]
	path = smaclite
	url = https://github.com/uoe-agents/smaclite.git
[submodule "HYGMA"]
	path = HYGMA
	url = https://github.com/mysteryelder/HYGMA.git
[submodule "hemac"]
	path = hemac
	url = https://github.com/ThalesGroup/hemac.git
